
<%= link_to "Add your flat", new_flat_path %>

<p> Showing all <%= @flats.count %> flats. </p>

<% @flats.each do |flat| %>
<div class="index-card"> <strong> <%= flat.name %> </strong>
 <p> <%= flat.address %> </p>
 <p> <% if flat.image.present? %> <%= image_tag flat.image, size: "128x96", alt: "Flat Image" %> <%end%> </p>
 <p> <%= flat.number_of_guests %> guests -
 $<%= flat.price_per_night %> </p>
  <p> <%= link_to "More info", flat_path(flat) %> - <%= link_to "Edit", edit_flat_path(flat) %> - <%= link_to "Delete", flat_path(flat), data: { turbo_method: :delete} %> </p>
</div>
<% end %>
