<h1> <%= @flat.name %> </h1>

<p> <%= @flat.address %> </p>
<p> <%= @flat.description %> </p>

<h2> Details </h2>
<p> <%= @flat.number_of_guests %> guests max </p>
<p> $<%= @flat.price_per_night %> / night </p>

<p>
<%= image_tag @flat.image, size: "128x128", alt: "Flat Image" %>
</p>

<%= link_to "Edit", edit_flat_path(@flat) %>
<%= link_to "Delete", flat_path(@flat), data: { turbo_method: :delete} %>

<%= link_to "Back to main page", flats_path%>
